/* ===================================== Import Variables ================================== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap");

:root {
  --sucess: #51be78;
  --primary: #d92026;
  --black: #444;
  --tranparant: #d1e2d8;
  --bgOrange: #fc8469;
  --bgYellow: #ffb72f;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.text-primary {
  color: var(--tranparant) !important;
}

.text-main {
  color: var(--primary);
}
.bg-danger {
  color: red !important ;
}
/* ===================================== Basic CSS ==================================== */
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
  color: var(--black);
}

a:hover {
  color: var(--black);
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

a:hover,
a:focus,
input,
textarea {
  text-decoration: none;
  outline: none;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.cp {
  cursor: pointer;
}

html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
}

p {
  margin-bottom: 0px;
  width: 100%;
}

.no-padding {
  padding: 0px;
}

.no-margin {
  margin: 0px;
}

.hid {
  display: none;
}

.top-mar {
  margin-top: 15px;
}

.h-100 {
  height: 100%;
}

::placeholder {
  color: #747f8a !important;
  font-size: 13px;
  opacity: 0.5 !important;
}

.container-fluid {
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #545454;
}

body {
  background-color: #ffffff !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #6a6a6a;
  overflow-x: hidden;
}

.section-title {
  padding: 30px;
  margin: 0px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .section-title {
    padding: 15px;
  }
}
.section-title h2 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
  font-size: 2.5rem;
}
.section-title p {
  max-width: 850px;
  text-align: center;
  float: none;
  margin: auto;
  font-size: 0.9rem;
  margin-top: 0px;
  font-weight: 700;
}
.section-title span {
  font-weight: 700;
}

.inner-title {
  padding: 20px;
  padding-left: 0px;
  margin: 0px;
  margin-bottom: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ccccccc4;
  display: block;
  padding-right: 0px;
}
.inner-title h2 {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #863dd9;
  padding-bottom: 10px;
  margin-bottom: 0px;
  width: 300px;
  margin-bottom: 15px;
}
.inner-title p {
  width: 100%;
  text-align: center;
}
.inner-title .btn {
  float: right;
  margin-top: -38px;
  font-weight: 600;
  font-size: 0.8rem;
}

.page-nav {
  background-size: 100%;
  padding: 40px 30px;
  text-align: center;
  padding-top: 68px;
  background-color: #eeeeee;
}
.page-nav ul {
  float: none;
  margin: auto;
}
@media screen and (max-width: 992px) {
  .page-nav {
    background-size: auto;
  }
}
@media screen and (max-width: 767px) {
  .page-nav {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width: 356px) {
  .page-nav {
    padding-top: 200px;
    padding-bottom: 40px;
  }
}
.page-nav h2 {
  font-size: 28px;
  width: 100%;
  font-weight: 700;
  color: #444;
}
@media screen and (max-width: 600px) {
  .page-nav h2 {
    font-size: 26px;
  }
}
.page-nav ul li {
  float: left;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-size: 0.93rem;
  font-weight: 600;
  color: #444;
}
.page-nav ul li i {
  width: 30px;
  text-align: center;
  color: #444;
}
.page-nav ul li a {
  color: #444;
  font-size: 0.93rem;
  font-weight: 600;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}
.btn-primary:hover {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.btn-primary:active {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.btn-primary:focus {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  box-shadow: none !important;
}

.btn-outline-primary {
  border-color: var(--primary);
  color: var(--primary);
}
.btn-outline-primary:hover {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.btn-outline-primary:active {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.btn-outline-primary:focus {
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  box-shadow: none !important;
}

.form-control:focus {
  box-shadow: none !important;
  border: 1px solid #ccc;
}

.btn-light {
  background-color: #fff;
  color: #3f3f3f;
}

.collapse.show {
  display: block !important;
}

.container {
  max-width: 1170px;
}

@media screen and (max-width: 1024px) {
  .container {
    margin: auto;
    padding: auto;
  }
}

@media screen and (max-width: 1200px) {
  .header-carausel {
    font-size: 20px;
  }
}


@media screen and (max-width: 575px) {
  .container {
    padding: 10px 15px;
  }
}

.container-xl {
  max-width: 1170px;
}

/* ===================================== Basic CSS ==================================== */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.fw-md {
  font-weight: 600;
}

.home-img{
  width: 350px;
}

@media screen and (max-width: 1200px) {
  .home-img {
    width: 240px;
  }  
}

@media screen and (max-width: 1000px) {
  .home-img {
    display: none;
  }
}



.fw-sm {
  font-weight: 500;
}

.big-padding {
  padding: 50px;
}

@media screen and (max-width: 940px) {
  .big-padding {
    padding: 30px 10px;
  }
}

.bggray {
  background-color: #f7f5f4 !important;
}

.fw-bold {
  font-weight: 600 !important;
}

.fs-11 {
  font-size: 4rem;
}

@media screen and (max-width: 767px) {
  .fs-11 {
    font-size: 2rem;
  }
}

.shadow-md {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.07),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow-xs {
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.13);
}

.truncate-2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 42px;
  overflow: hidden;
  line-height: 21px;
}

.truncate-4 {
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  height: 82px;
  overflow: hidden;
  line-height: 21px;
}

.truncate-6 {
  display: -webkit-box !important;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  height: 130px;
  overflow: hidden;
  line-height: 21px;
}

.rtable {
  max-width: 500px;
  float: none;
  margin: auto;
}
.rtable tr td {
  padding: 5px;
}

.fs-7 {
  font-size: 0.95rem;
}

.fs-8 {
  font-size: 0.9rem;
}

.sticky {
  position: sticky;
}

.bg-gray {
  background: rgba(217, 217, 217, 0.25);
}

.btn-xs {
  padding: 2px 8px;
  font-size: 0.875rem;
  border-radius: 0.2rem;
}
.btn-xs i {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .bordernosm {
    border: 0px !important;
  }
}

.h400 {
  height: 400px;
  overflow: auto;
}

.sticky-top-90 {
  position: -webkit-sticky;
  position: sticky;
  top: 85px;
  z-index: 1020;
}

.fs-9 {
  font-size: 0.79rem;
}

.fs-5 {
  font-size: 1.1rem;
}

@media screen and (max-width: 1010px) {
  .fs-5 {
    font-size: 0.5rem;
  }
}
.mt-25 {
  margin-top: 11px;
}

.width-fit {
  width: fit-content;
}

.text-justify {
  text-align: justify;
}

.max-230 {
  max-width: 230px;
  align-items: center;
}

.scroll-to-fixed-fixed {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.07),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 767px) {
  .nacul {
    width: 100%;
  }
}
.nacul li {
  padding-bottom: 30px !important;
  padding-top: 27px !important;
}

@media screen and (max-width: 767px) {
  .nacul li {
    width: 100%;
    padding-left: 10px !important;
  }
}
.nacul .active {
  border-bottom: 3px solid var(--primary);
}

.fs-12 {
  font-size: 4.5rem;
}

@media screen and (max-width: 1200px) {
  .fs-12 {
    font-size: 3.5rem;
    padding-top: 2px;
  }
}


@media screen and (max-width: 767px) {
  .fs-12 {
    font-size: 2.38rem;
  }
}


.carousel-caption {
  right: 10%;
  left: 10%;
  bottom: 12%;
}

.w-125 {
  width: 90px;
}

@media (max-width: 1111px) {
  .carousel-caption h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 992px) {
  h1 {
    font-size: 4.5rem;
  }

  .carousel-caption .text-start {
    text-align: center !important;
  }
}

@media screen and (max-width: 991px) {
  .carousel-item {
    max-height: 250px;
    margin-bottom: 3%;
  }
}

.carousel-control-prev-icon {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.carousel-control-next-icon {
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.bg-orange {
  background-color: var(--bgOrange);
}

.bg-yellow {
  background-color: var(--bgYellow);
}

.bg-primary {
  background-color: var(--primary);
}

.copy {
  padding: 20px;
  background-color: #000000;
  color: #fff;
}
.copy a {
  color: #fff;
}
.copy span {
  float: right;
}
.copy span i {
  margin-right: 20px;
}

.container-course {
  margin-left: 10rem;
  margin-right: 10rem;
}

/* Card Course */
.category {
  color: var(--primary);
  padding: 5px 0;
}

.icon-search {
  width: 20px;
  position: absolute;
  right: 30px;
  top: 25px;
}

.btn-course a {
  text-decoration: none;
  color: #fff;
}

.category p {
  font-weight: 400;
}

.img-yt {
  width: 50px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-bottom-left-radius: 0px;
}

.card {
  width: 47rem;
  margin-bottom: 30px;
}

.card-vidio {
  width: 98%;
  margin-bottom: 30px;
}

.vidio-course {
  height: 600px;
  width: 98%;
}

@media screen and (max-width: 750px) {
  .card {
    width: 23rem;
    object-fit: fill;
    border-bottom-left-radius: 0px;
    margin-bottom: 30px;
  }

  .vidio-course {
    width: 21rem;
    height: 15rem;
    padding: 2px 3px;
  }

  .footer-responsive {
    display: inline-block;
    justify-content: center;
  }
}

.btn-primary {
  border-radius: 12px;
  margin: 5px 8px;
}



